body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    text-align: center;
}

.question-container {
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Styles pour les mobiles */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    .question-container {
        margin: 10px 0;
        padding: 10px;
    }

    .options {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
